In [ ]:
nome = 'kauan'
email = input ('qual seu email?')

print (len(nome))
print (nome[1])

print (email[:-1])
print (email[10:])

print('Tamanho do e-mail ' + str(len(email)) + ' caracteres')
print('Primeiro Caractere ' + (email[0]))
print('Último Caractere ' + (email[-1]))
print('Servidor do email ' + (email[11:15]))

In [ ]:


str -> transforma número em string
in -> verifica se um texto está contido dentro do outro
operador + -> concatenar string
format e {} -> substitui valores
%s -> substitui textos
%d -> substitui números decimais

In [3]:
faturamento = 2000
custo = 500
lucro = faturamento - custo

print ('O faturamento da loja foi de: ' + str(faturamento) + ' O custo foi de ' + str(custo) + ' O lucro foi de ' + str(lucro))
print('O faturamento foi de: {0}. O custo foi de {1} e o Lucro foi de {2}. Lembrando, o faturamento foi de {0}'.format(faturamento, custo, lucro))
print ('O faturamento foi de: %d. O custo foi de %d e o Lucro foi de %d' % (faturamento, custo, lucro))
print('@' in 'lira@gmail.com')
print('@' in 'lira.gmail.com')

O faturamento da loja foi de: 2000 O custo foi de 500 O lucro foi de 1500
O faturamento foi de: 2000. O custo foi de 500 e o Lucro foi de 1500. Lembrando, o faturamento foi de 2000
O faturamento foi de: 2000. O custo foi de 500 e o Lucro foi de 1500
True
False

In [2]:
Uso: 
        texto = 'kauan'
        print(texto.capitalize())
    Resultado: 
        'Kauan'

        
        
        
    Uso: 
        texto = 'Lira'
        print(texto.casefold())
    Resultado: 
        'lira'
        
        
        
    Uso:
        texto = 'lira@yahoo.com.br'
        print(texto.count('.'))
    Resultado:
        2
        
        
        
        
    Uso:
        texto = 'lira@gmail.com'
        print(texto.endswith('gmail.com'))
    Resultado:
        True
        
        
        
    Uso:
        texto = 'lira@gmail.com'
        print(texto.find('@'))
    Resultado:
        4
    Obs: lembrando como funciona a posição nas strings, então o @ está na posição 4
    l i r a @ g m a i l  .  c  o  m
    0 1 2 3 4 5 6 7 8 9 10 11 12 13
    
    Uso:
        faturamento = 1000
        print('O faturamento da loja foi de {} reais'.format(faturamento))
    Resultado:
        'O faturamento da loja foi de 1000 reais'
        
        
        
    Uso:
        texto = 'João123'
        print(texto.isalnum())
    Resultado:
        True
    Obs: se o texto fosse 'Jo~ao' ou então 'Joao#' o resultado seria False 
        
        
        
    Uso:
        texto = 'João'
        print(texto.isalpha())
    Resultado:
        True
    Obs: nesse caso se o texto fosse 'Joao123' o resultado seria False, porque 123 não são letras.
        
        
        
    Uso:
        texto = '123'
        print(texto.isnumeric())
    Resultado:
        True
    Obs: existem os métodos isdigit() e isdecimal() que tem variações pontuais em caracteres especiais tipo textos com frações e potências, mas para 99% dos casos eles não vão ser necessários.
    
    
    Uso:
        texto = '1000.00'
        print(texto.replace('.', ','))
    Resultado
        '1000,00'
    Obs: o replace precisa de 2 argumentos para funcionar. O 1º é o texto que você quer trocar. O 2º é o texto que você quer colocar no lugar daquele texto que você está tirando.
        
        
    Uso:
        texto = 'lira@gmail.com'
        print(texto.split('@'))
    Resultado:
        ['lira', 'gmail.com']

        
    Uso:
        texto = '''Olá, bom dia
        Venho por meio desse e-mail lhe informar o faturamento da loja no dia de hoje.
        Faturamento = R$2.500,00
        '''
        print(texto.splitlines())
    Resultado:
        ['Olá, bom dia', 'Venho por meio desse e-mail lhe informar o faturamento da loja no dia de hoje.', 'Faturamento = R$2.500,00']
        

        
    Uso:
        texto = 'BEB123453'
        print(texto.startswith('BEB'))
    Resultado:
        True
        
        
        
    Uso:
        texto = ' BEB123453 '
        print(texto.strip())
    Resultado:
        'BEB123453'
        
        
        
    Uso:
        texto = 'joão paulo lira'
        print(texto.title())
    Resultado:
        'João Paulo Lira'
        
        
        
    Uso:
        texto = 'beb12343'
        print(texto.upper())
    Resultado:
        'BEB12343'

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [3]:
:<   Alinha o texto à esquerda (se tiver espaço na tela para isso)
:>  Alinha o texto à direita (se tiver espaço na tela para isso)
:^   Alinha o texto ao centro (se tiver espaço na tela para isso)
:+  Coloca o sinal sempre na frente do número (independente se é positivo ou negativo)
:,  Coloca a vírgula como separador de milhar
:_  Coloca o _ como separador de milhar
:e  Formato Científico
:f  Número com quantidade fixa de casas decimais
:x   Formato HEX minúscula (para cores)
:X   Formato HEX maiúscula (para cores)
:%=   Formato Percentual

SyntaxError: invalid syntax (<ipython-input-3-f59e95b91e01>, line 1)

In [2]:
email = 'lira@gmail.com'
print('Meu e-mail não é {:^50}, show?'.format(email))

custo = 500
faturamento = 270
lucro = faturamento - custo
print('Faturamento foi {:+} e lucro foi {:+}'.format(faturamento, lucro))


custo = 5000
faturamento = 2700
lucro = faturamento - custo
print('Faturamento foi {:+,} e lucro foi {:+,}'.format(faturamento, lucro))


custo = 500
faturamento = 270
lucro = faturamento - custo
print('Faturamento foi {:.2f} e lucro foi {:.1f}'.format(faturamento, lucro))



custo = 500
faturamento = 1300
lucro = faturamento - custo
margem = lucro / faturamento
print('Margem de lucro foi de {:.2%}'.format(margem))


custo = 5000
faturamento = 27000
lucro = faturamento - custo
print('Faturamento foi R${:,.2f} e lucro foi R${:,.2f}'.format(faturamento, lucro))

#transformando no formato brasileiro
lucro_texto = 'R${:_.2f}'.format(lucro)
print(lucro_texto.replace('.', ',').replace('_', '.'))


imposto = 0.15758
preco = 100
valor_imposto = round(preco * imposto, 1)
print('Imposto sobre o preço é de {}'.format(valor_imposto))

Meu e-mail não é                   lira@gmail.com                  , show?
Faturamento foi +270 e lucro foi -230
Faturamento foi +2,700 e lucro foi -2,300
Faturamento foi 270.00 e lucro foi -230.0
Margem de lucro foi de 61.54%
Faturamento foi R$27,000.00 e lucro foi R$22,000.00
R$22.000,00
Imposto sobre o preço é de 15.8

In [6]:
produtos = ['tv', 'celular', 'mouse', 'teclado', 'tablet']

In [5]:
vendas = [1000, 1500, 350, 270, 900]
estoque = [1000, 1500, 350, 270, 900]

In [7]:
print ('a vendas dos {} fora equivalentes a {}' .format(produtos[3] , vendas[3]))

a vendas dos teclado fora equivalentes a 270

In [15]:
i = produtos.index('teclado')

qtde_estoque = estoque[i]

print(i)

print(produtos[i], qtde_estoque)

3
teclado 270

In [ ]:
produtos = ['tv', 'celular', 'tablet', 'mouse', 'teclado', 'geladeira', 'forno']
estoque = [100, 150, 100, 120, 70, 180, 80]

pergunta = input('qual produto esta procurando? ')


if pergunta in produtos:
    
    i = produtos.index(pergunta)
    qtde_estoque = estoque[i]
    print('o produto {} tem no momento {} unidades no estoque ' .format(pergunta, qtde_estoque))
    
    
elif pergunta:
    print('este produto ou não existe ou não foi encontrado no sitema')
    
        

    
else:
    print('porfavor responda a pergunta ')

In [ ]:
Adicionar:
lista.append(item)

Remover:
item_removido = lista.pop(indice)
lista.remove(item

In [3]:
produtos = ['apple tv', 'mac', 'iphone x', 'IPad', 'apple watch', 'mac book', 'airpods']

print(produtos)

produtos.append('iphone11')

print(produtos)

produtos.remove('iphone x')

print(produtos)

item_removido = produtos.pop(3)   <------ e pra remover o iphone x mas ja que ele ja foi removido ele pega o proximo item

print(produtos)

print('removemos o {} da lisat ' .format(item_removido))

SyntaxError: invalid syntax (<ipython-input-3-4c5243f7e051>, line 13)

In [1]:
produtos = ['apple tv', 'mac', 'iphone x', 'IPad', 'apple watch', 'mac book', 'airpods']

try:
    produtos.remove('iphone x')
    print(produto)
    
except:
    print('o iten não existe ')

o iten não existe

In [8]:
produtos = 'apple tv, mac, iphone x, iphone 11, IPad, apple watch, mac book, airpods'

lista = produtos.split(", ")

print(lista)


produtos = ['apple tv', 'mac', 'iphone x', 'iphone 11', 'IPad', 'apple watch', 'mac book', 'airpods']

print(produtos)

print ('\n' .join(produtos))

['apple tv', 'mac', 'iphone x', 'iphone 11', 'IPad', 'apple watch', 'mac book', 'airpods']
['apple tv', 'mac', 'iphone x', 'iphone 11', 'IPad', 'apple watch', 'mac book', 'airpods']
apple tv
mac
iphone x
iphone 11
IPad
apple watch
mac book
airpods

In [10]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_1sem.extend(vendas_2sem)

maior = max(vendas_1sem)

menor = min(vendas_1sem)

print(min(vendas_1sem))

print (max (vendas_1sem))

i_maior = vendas_1sem.index(max (vendas_1sem))
i_menor = vendas_1sem.index(min (vendas_1sem))

print('O melhor mês do ano foi {} com {} vendas O pior mês do ano foi {} com {} vendas' .format(meses[i_maior], maior , meses[i_menor], menor)) 


faturamento = sum(vendas_1sem)

porcentagen = maior / faturamento

print('o mess {} representou {:.1%} das vendas do ano' .format(meses[i_maior], porcentagen))



top3 = []

print(vendas_1sem)

maior = max(vendas_1sem)


top3.append(maior)


print(top3)

vendas_1sem.remove(maior)

print(vendas_1sem)

maior = max(vendas_1sem)


top3.append(maior)


print(top3)

vendas_1sem.remove(maior)

print(vendas_1sem)

maior = max(vendas_1sem)


top3.append(maior)


print(top3)

9650
49051
O melhor mês do ano foi nov com 49051 vendas O pior mês do ano foi dez com 9650 vendas
o mess nov representou 18.8% das vendas do ano
[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
[49051]
[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
[49051, 29000]
[25000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
[49051, 29000, 25000]

In [8]:
lista = ['mac', 'iphone']
vendas = [100, 200]
#adicionando IPad na lista

lista = lista + ['ipad']


soma_vendas = 300
#adicionando na soma a quantidade de IPad


soma_vendas = soma_vendas + 500


email = 'Esse mês vendemos um total de {} produtos, sendo:\n{} unidades de {}\n{} unidades de {}'.format(soma_vendas, vendas[0], lista[0], vendas[1], lista[1])
#adicionando no fim do texto o Ipad

email = email + ' \n{} resebe tamtas unidades de ipad' .format(500)




print(email)

Esse mês vendemos um total de 800 produtos, sendo:
100 unidades de mac
200 unidades de iphone
500 resebe tamtas unidades de ipad

In [9]:


Copiar e "Igualdade" de Listas
Estrutura:

    Quando fazemos:
    lista2 = lista1
    não estamos criando uma lista nova, mas estamos atribuindo outra variável à mesma lista.

    Se quisermos copiar lista devemos fazer
    lista2 = lista1.copy()
    ou entao
    lista2 = lista1[:]

Para entender bem isso, vamos ver na prática:
    
    
lista = ['ipad', 'iphone x', 'apple tv']
lista2 = lista

lista[1] = 'iphone 11'

print(lista)
print(lista2)


lista = ['ipad', 'iphone x', 'apple tv']
lista2 = lista[:]

lista[1] = 'iphone 11'
print(lista)
print(lista2)

SyntaxError: invalid syntax (<ipython-input-9-ca667085a4ec>, line 1)

In [1]:
vendedores = ['Lira', 'João', 'Diego', 'Alon']
produtos = ['ipad', 'iphone']
vendas = [
    [100, 200],
    [300, 500],
    [50, 1000],
    [900, 10],
]

vendas_ipadejoao = vendas[1][0]
print(vendas_ipadejoao)

vendas_diego = vendas [2][1]
print(vendas_diego)

total = vendas [0][1] + vendas [1][1] + vendas[2][1] + vendas [3][1]

print(total)

vendas [0][0] = 50
print(vendas)

vendas_mac = [10, 15, 6, 70]

vendas[0].append(vendas_mac[0])
vendas[1].append(vendas_mac[1])
vendas[2].append(vendas_mac[2])
vendas[3].append(vendas_mac[3])

print(vendas)

300
1000
1710
[[50, 200], [300, 500], [50, 1000], [900, 10]]
[[50, 200, 10], [300, 500, 15], [50, 1000, 6], [900, 10, 70]]

In [ ]:
produtos = ['computador', 'livro', 'tablet', 'celular', 'tv', 'ar condicionado', 'alexa', 'máquina de café', 'kindle']

#cada item da lista dos produtos corresponde a quantidade de vendas no mês e preço, nessa ordem
produtos_ecommerce = [
    [10000, 2500],
    [50000, 40],
    [7000, 1200],
    [20000, 1500],
    [5800, 1300],
    [7200, 2500],
    [200, 800],
    [3300, 700],
    [1900, 400]
]




    
if 'livro' in produtos:
    
    i_livro = produtos.index('livro')
    total_antigo = produtos_ecommerce[i_livro][0] * produtos_ecommerce[i_livro][1]
    
    produtos_ecommerce[i_livro][1] = produtos_ecommerce[i_livro][1] * 1.1
    
    novo_total= produtos_ecommerce[i_livro][0] * produtos_ecommerce[i_livro][1]
    print('vamos pagar de inposto a mas {}' .format(novo_total - total_antigo))

In [1]:
for i in range(5):
    print(i)

produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta' ,'jogos']
producao = [15000, 12000, 13000, 5000, 250, 300]

tamanho = len(produtos)

for i in range(tamanho):
    print ('{} unidades vendidas de {}' .format(producao[i], produtos[i]))

0
1
2
3
4
15000 unidades vendidas de coca
12000 unidades vendidas de pepsi
13000 unidades vendidas de guarana
5000 unidades vendidas de sprite
250 unidades vendidas de fanta
300 unidades vendidas de jogos

In [2]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
meta = 1000

qtde = 0

for item in vendas:
    if item >= meta:
        qtde += 1
        print(item)
        
    else:
        print('ofuncionario {} nao bateu meta' .format(item))
        

qtde_fum = len (vendas)
print(qtde_fum)
print(qtde)

1200
ofuncionario 300 nao bateu meta
ofuncionario 800 nao bateu meta
1500
1900
2750
ofuncionario 400 nao bateu meta
ofuncionario 20 nao bateu meta
ofuncionario 23 nao bateu meta
ofuncionario 70 nao bateu meta
ofuncionario 90 nao bateu meta
ofuncionario 80 nao bateu meta
1100
ofuncionario 999 nao bateu meta
ofuncionario 900 nao bateu meta
ofuncionario 880 nao bateu meta
ofuncionario 870 nao bateu meta
ofuncionario 50 nao bateu meta
1111
ofuncionario 120 nao bateu meta
ofuncionario 300 nao bateu meta
ofuncionario 450 nao bateu meta
ofuncionario 800 nao bateu meta
23
6

In [12]:
funcionarios = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]

for i, funcionario2 in enumerate(funcionarios):
    print('{} é o funcionário {}'.format(i, funcionario2))
    
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
nivel_minimo = 50

for i, qtde in enumerate(estoque):
    if qtde < nivel_minimo:
        print('{} está abaixo do nível mínimo. Temos apenas {} unidades'.format(produtos[i], qtde))

0 é o funcionário 1200
1 é o funcionário 300
2 é o funcionário 800
3 é o funcionário 1500
4 é o funcionário 1900
5 é o funcionário 2750
6 é o funcionário 400
7 é o funcionário 20
8 é o funcionário 23
9 é o funcionário 70
10 é o funcionário 90
11 é o funcionário 80
12 é o funcionário 1100
13 é o funcionário 999
14 é o funcionário 900
15 é o funcionário 880
16 é o funcionário 870
17 é o funcionário 50
18 é o funcionário 1111
19 é o funcionário 120
20 é o funcionário 300
21 é o funcionário 450
22 é o funcionário 800
dolly está abaixo do nível mínimo. Temos apenas 20 unidades
red bull está abaixo do nível mínimo. Temos apenas 23 unidades

In [ ]:
qtde_pesoas = int(input('quantas pesoas tem no quarto '))

quarto = []

for i in range(qtde_pesoas):
               nome = input('qual nome do ospede ')
               cpf = input('qual cpf ')
               hospede = [nome,cpf]
               quarto.append(hospede)
               
print(quarto)

In [ ]:
meta = 10000
vendas = [
    ['João', 15000],
    ['Julia', 27000],
    ['Marcus', 9900],
    ['Maria', 3750],
    ['Ana', 10300],
    ['Alon', 7870],
]
#seu código aqui
for item in vendas:
    if item[1] >= meta:
        print('Vendedor {} bateu a meta. Fez {} vendas'.format(item[0], item[1]))

In [ ]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]
#seu código aqui

for i, produto in enumerate(produtos):
    if vendas2020[i] > vendas2019[i]:
        crescimento = vendas2020[i] / vendas2019[i] - 1
        print('{} vendeu R${:,} em 2019, R${:,} em 2020 e teve {:.1%} de crescimento'.format(produto, vendas2019[i], vendas2020[i], crescimento))

In [ ]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]
#seu código aqui

for i, produto in enumerate(produtos):
    if vendas2020[i] > vendas2019[i]:
        crescimento = vendas2020[i] / vendas2019[i] - 1
        print('{} vendeu R${:,} em 2019, R${:,} em 2020 e teve {:.1%} de crescimento'.format(produto, vendas2019[i], vendas2020[i], crescimento))

In [ ]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]
#seu código aqui

for i, produto in enumerate(produtos):
    if vendas2020[i] > vendas2019[i]:
        crescimento = vendas2020[i] / vendas2019[i] - 1
        print('{} vendeu R${:,} em 2019, R${:,} em 2020 e teve {:.1%} de crescimento'.format(produto, vendas2019[i], vendas2020[i], crescimento))

In [ ]:
estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimo = 50

for i, lista in enumerate(estoque):
    #se dentro daquela lista tem alguem abaixo do nível minimo
    for qtde in lista:
        if qtde < nivel_minimo:
            print(fabricas[i])

In [1]:
estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimo = 50
fabricas_abaixo_nivel = []


for i, lista in enumerate(estoque):
    #se dentro daquela lista tem alguem abaixo do nível minimo
    for qtde in lista:
        if qtde < nivel_minimo:
            if fabricas[i] in fabricas_abaixo_nivel:
                pass
            else:
                fabricas_abaixo_nivel.append(fabricas[i])
            
            
print(fabricas_abaixo_nivel)

['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas']

In [3]:
estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimo = 50
fabricas_abaxo = []

for i, lista in enumerate(estoque):
    #se dentro daquela lista tem alguem abaixo do nível minimo
    for qtde in lista:
        if qtde < nivel_minimo:
            if fabricas[i] in fabricas_abaxo:
                pass
            else:
                fabricas_abaxo.append(fabricas[i])
                
print(fabricas_abaxo)

['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas']